extends layout
block append head
	title Page Not Found
block append content
	div.container
		h1 Not Found
			span :(
		p Sorry but the page you are trying to view does not exist.
		p It looks like this was the result of either:
			ul
				li a mistyped address
				li an out-of-date link
			