extends layout
block append head
	link(rel='stylesheet', href='/stylesheets/index.css')
block append content
	.modal.fade#myModal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
					h3.modal-title Modal title
				.modal-body
					.loginSide.col-md-6
						form#loginAccount(action='/loginAccount', method='POST')
							input(name='username', type='text', placeholder='Username')
							br
							input(name='password', type='text', placeholder='Password')
							br
							input(type='submit', value='Login', name='button')
							br
					.createAccountSide.col-md-offset-6
						form#createAccount(action='/createAccount', method='POST')
							input(name='username', type='text', placeholder='Username')
							br
							input(name='password', type='text', placeholder='Password')
							br
							input(name='confirmPassword', type='text', placeholder='Confirm Password')
							br
							input(type='submit', value='Create Account', name='button')

	.jumbotron#countertop
		.container
			.row
				.col-md-6.col-md-offset-3.text-center
					.header.text-center
						h1.text-center EasyMake
				.col-md-3.col-md-offset.2
					a(href='#myModal', data-toggle = 'modal') Login/Create Account
			.top-buffer-small
			.call-to-action
				h1.center.text-center Tell us what you have.
				h1.center.text-center We'll tell you what you can make.
			.results_container
				list-group.ingredient_results
					.col-md-10.col-md-offset-1
						a.list-group-item(href='#')
								.row
									.col-md-4
										p Name of Recipe #{i}
									.col-md-1
										span.glyphicon.glyphicon-picture
									.col-md-3
										p Rating: 
											- for( var j = 0; j < ratings[i]; j++) {
												span.glyphicon.glyphicon-star
											- }
									.col-md-4
										p Difficulty: #{diff[i]}

			.row
				.col-md-6.col-md-offset-3
					.input-group.add-ingredient
						input.ing_typeahead.form-control(type='text', placeholder="What's Cooking?")
						span.input-group-btn
							button.btn.btn-default(type='button') Use Ingredient
			.top-buffer-small
			//.row
			//
				.col-md-offset-3.col-md-6
					a.btn.btn-primary.btn-lg.btn-block(role='button')
						p Find Me Food!
			.top-buffer-large
	script(src='js/typeahead.min.js')
	script(src='js/index.js')



	