extends layout
block append head
	link(rel='stylesheet', href='/stylesheets/index.css')
block append content
	.jumbotron#countertop
		.container
			.row
				.col-md-6.col-md-offset-3
					input.ing_typeahead.form-control(type='text', placeholder="What's Cooking?")
	script(src='js/typeahead.min.js')
	script(src='js/index.js')



	