extends layout
block append head
	link(rel='stylesheet', href='/stylesheets/index.css')
block append content
	.jumbotron#countertop
		-if(!user) {
			.modal.fade#myModal
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
							h3.modal-title.text-center Login or Sign Up!
						.messages
						.modal-body.row
							.loginSide.col-md-6.text-center
								form#loginAccount(action='/loginAccount', method='POST')
									#loginUser.form-group
										input.form-control(name='username', type='text', placeholder='Email')
										span.help-block
									#loginPassword.form-group
										input.form-control(name='password', type='password', placeholder='Password')
										span.help-block
									input(type='submit', value='Login', name='button')
							.createAccountSide.col-md-6.text-center
								form#createAccount(action='/createAccount', method='POST')
									#createUser.form-group
										input.form-control(name='username', type='text', placeholder='Email')
										span.help-block
									#createPassword.form-group
										input.form-control(name='password', type='password', placeholder='Password')
										span.help-block
									#createConfirm.form-group
										input.form-control(name='confirmPassword', type='password', placeholder='Confirm Password')
										span.help-block
									input(type='submit', value='Sign Up', name='button')
		-} else {
			.modal.fade#myModal
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
							h3.modal-title.text-center Hi 
								.user-name 
						.messages
						.modal-body.row
							.loginSide.col-md-6.text-center
								form#loginAccount(action='/loginAccount', method='POST')
									#loginUser.form-group
										input.form-control(name='username', type='text', placeholder='Email')
										span.help-block
									#loginPassword.form-group
										input.form-control(name='password', type='password', placeholder='Password')
										span.help-block
									input(type='submit', value='Login', name='button')
							.createAccountSide.col-md-6.text-center
								form#createAccount(action='/createAccount', method='POST')
									#createUser.form-group
										input.form-control(name='username', type='text', placeholder='Email')
										span.help-block
									#createPassword.form-group
										input.form-control(name='password', type='password', placeholder='Password')
										span.help-block
									#createConfirm.form-group
										input.form-control(name='confirmPassword', type='password', placeholder='Confirm Password')
										span.help-block
									input(type='submit', value='Sign Up', name='button')
		- }

		.container
			.col-md-10.col-md-offset-1
				.row
					.col-md-6.col-md-offset-3.text-center
						.header.text-center
							h1.text-center EasyMake
							h2.text-center Healthy cooking made easy
					.col-md-3
						.login
							a.btn.btn-warning(href='#myModal', data-toggle = 'modal') Login/Create Account
			.results_container
				.col-md-10.col-md-offset-1
					.entered_ingredients
						.row
							#ingredientInfo
								.col-md-4#quantity
								.col-md-8#ingredientName
					form#ingredientForm
						.input-group.add-ingredient
							input.ing_typeahead.form-control#addIngredient(type='text', placeholder="What's Cooking?", autocomplete="off", name='ingredient')
							span.input-group-btn
								button.btn.btn-warning(type='submit') Use Ingredient
					.top-buffer-small
					.top-buffer-small
					.recipes_returned
						.recipeHeader
						.nameOfRecipe
					.call-to-action
						.row.text-center
							.col-md-4
								h2 Tell Us
								p what ingredients you have by entering them into the search bar.
							.col-md-4
								h2 Let Us
								p find you the most nutritious recipes you can make right now.
							.col-md-4
								h2 Join Us
								p by <a href="#myModal" data-toggle="modal">signing up</a> for an account so you can submit recipes and get feedback on your creations!
				.top-buffer-really-small

			.top-buffer-small
			//.row
			//
				.col-md-offset-3.col-md-6
					a.btn.btn-primary.btn-lg.btn-block(role='button')
						p Find Me Food!
			.top-buffer-large
			.top-buffer-large
	script(src='js/typeahead.min.js')
	script(src='js/underscore.js')
	script(src='https://cdn.firebase.com/js/client/1.0.2/firebase.js')
	script(src='/socket.io/socket.io.js')
	script(src='js/index.js')



	