extends layout
block append content
	form#login(method='post')
		input(type='text', name='user[name]')
		input(type='text', name='user[password]')
		input(type='submit', value='Submit')
	script(src="js/index.js")



	