extends layout
block append head
	link(rel='stylesheet', href='/stylesheets/index.css')
	link(rel='stylesheet', href='/stylesheets/password.css')
block append content
	.jumbotron#countertop
		h1 Change Password
		.col-md-8.col-md-offset-2
			form#changePassword(action='/change', method='POST')
				#oldPassword.form-group
					input.form-control(name='oldPassword', type='text', placeholder='Old Password')
					span.help-block
				#newPassword.form-group
					input.form-control(name='newPassword', type='password', placeholder='New Password')
					span.help-block
				#confirmPassword.form-group
					input.form-control(name='confirmPassword', type='password', placeholder='Confirm Password')
					span.help-block
				input(type='submit', value='Change Password', name='button')